.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background: #333333;
  min-width: 0;
}
.freeBox__oLkSh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 980px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__m7JMj {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 37px;
  color: #757575;
  min-width: 0;
}
.freeBox___9Zfit {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 80px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___5HkZm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  max-width: 980px;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ccIqg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__b8Ml1 {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #cccccc;
}
.column__rmH84 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__dGay {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #cccccc;
}
.column__aOkvC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__p9O5T {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #cccccc;
}
.column__xijj6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__q1J1U {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #cccccc;
}
.ecommerceBar {
  max-width: 1024px;
  display: none;
  flex-direction: row;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg___9Gqhy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #cccccc;
  min-width: 0;
  min-height: 0;
}
.text__j58Eu {
  color: #cccccc;
}
.svg__h5Bjq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__doadE {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__doadE > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__doadE > :global(.__wab_flex-container) > *,
.freeBox__doadE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__doadE > :global(.__wab_flex-container) > picture > img,
.freeBox__doadE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.searchButtonsearchOpen:global(.__wab_instance) {
  min-width: 200px;
}
.svg__li9DU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__caAu8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.searchInput:global(.__wab_instance) {
  position: relative;
  max-width: 200px;
  display: none;
}
.searchInputsearchOpen:global(.__wab_instance) {
  display: flex;
}
.svg__kS2Sl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mZlPq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yc3Wl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5NadH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__keaFc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__qStnv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__iPwjI {
  height: auto;
  width: auto;
}
.svg__aFttH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xR2Cj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
