.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__et33U {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__et33U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__et33U > :global(.__wab_flex-container) > *,
.freeBox__et33U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__et33U > :global(.__wab_flex-container) > picture > img,
.freeBox__et33U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__et33U {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__et33U > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__et33U > :global(.__wab_flex-container) > *,
  .freeBox__et33U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__et33U > :global(.__wab_flex-container) > picture > img,
  .freeBox__et33U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__bevko {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__bevko > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bevko > :global(.__wab_flex-container) > *,
.freeBox__bevko > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bevko > :global(.__wab_flex-container) > picture > img,
.freeBox__bevko
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__foi6K {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__hsjmp {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__vppwV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__emUzT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yvUr2:global(.__wab_instance) {
  position: relative;
}
.svg__pbtLl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sd5D8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__z9Flt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__z9Flt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__z9Flt > :global(.__wab_flex-container) > *,
.freeBox__z9Flt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z9Flt > :global(.__wab_flex-container) > picture > img,
.freeBox__z9Flt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__yTXt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__rhfQa {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__rhfQa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rhfQa > :global(.__wab_flex-container) > *,
.freeBox__rhfQa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rhfQa > :global(.__wab_flex-container) > picture > img,
.freeBox__rhfQa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__pQfUw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__b7AnM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__tiqVi:global(.__wab_instance) {
  position: relative;
}
.svg__kaFiL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__w68R4 {
  height: auto;
}
.svg__yFdM0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8HlS3:global(.__wab_instance) {
  position: relative;
}
.svg__eEuyb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__jXn54 {
  height: auto;
}
.svg__p4QPe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__pTAgn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pTAgn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pTAgn > :global(.__wab_flex-container) > *,
.freeBox__pTAgn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pTAgn > :global(.__wab_flex-container) > picture > img,
.freeBox__pTAgn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sQfpn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__eibDi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__qpfve {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__qpfve > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__qpfve > :global(.__wab_flex-container) > *,
.freeBox__qpfve > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpfve > :global(.__wab_flex-container) > picture > img,
.freeBox__qpfve
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__eggga {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tYPl9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jLnZ5:global(.__wab_instance) {
  position: relative;
}
.svg__nfDLz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__blxOg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4NLXe:global(.__wab_instance) {
  position: relative;
}
.svg__yfoKq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hMYh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nNbTi:global(.__wab_instance) {
  position: relative;
}
.svg__qpcuq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0WdgP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lHt7 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__lHt7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lHt7 > :global(.__wab_flex-container) > *,
.freeBox__lHt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lHt7 > :global(.__wab_flex-container) > picture > img,
.freeBox__lHt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__fe7Zw:global(.__wab_instance) {
  position: relative;
}
.svg__nxxmg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qUsYq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gvht0:global(.__wab_instance) {
  position: relative;
}
.svg__naNbm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__do8Kv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sBkhV:global(.__wab_instance) {
  position: relative;
}
.svg__zUe1A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___83Y5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
