.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__iArgf {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("/plasmic/normangershman_com/images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__iArgf {
    padding-bottom: 0px;
  }
}
.container3 {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__ppfnp {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ppfnp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ppfnp > :global(.__wab_flex-container) > *,
.freeBox__ppfnp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ppfnp > :global(.__wab_flex-container) > picture > img,
.freeBox__ppfnp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___2COo5 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___2COo5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2COo5 > :global(.__wab_flex-container) > *,
.freeBox___2COo5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2COo5 > :global(.__wab_flex-container) > picture > img,
.freeBox___2COo5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__lfQeK {
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--token-7gR-0WelyK7lFD);
  min-width: 0;
}
.button__mMtBq:global(.__wab_instance) {
  position: relative;
}
.svg__lrl5L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ousrl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___9Ysgf {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__wi5Iu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text___4L8Jq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__syQIv:global(.__wab_instance) {
  position: relative;
}
.svg__e16AZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__siYlo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__anAVg:global(.__wab_instance) {
  position: relative;
}
.svg__wsv7L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yIwyc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vgdbo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__ykNue {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-IaellkB20-Evui);
  min-width: 0;
}
.rating__dEzny:global(.__wab_instance) {
  position: relative;
}
.productCard__dyybb:global(.__wab_instance) {
  position: relative;
}
.svg__n4CUt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xThKk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___8Ntmp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mernN {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__kPqzu:global(.__wab_instance) {
  position: relative;
}
.productCard___757H:global(.__wab_instance) {
  position: relative;
}
.svg__rkFih {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__snlAg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yMMmj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lOa3 {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__jna9P:global(.__wab_instance) {
  position: relative;
}
.productCard__iY0CG:global(.__wab_instance) {
  position: relative;
}
.svg___8F2Om {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oNXzk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hyL9R {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fkndy {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__u6Raj:global(.__wab_instance) {
  position: relative;
}
.productCard__udKh1:global(.__wab_instance) {
  position: relative;
}
.svg__vDxn {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tiuhH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ubN5O {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__m8Kfk {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__c4QRg:global(.__wab_instance) {
  position: relative;
}
.productCard___0TSCj:global(.__wab_instance) {
  position: relative;
}
.svg__ot0Xq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7Wak7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__em8EV {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___4Svk0 {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-IaellkB20-Evui);
  min-width: 0;
}
.rating__buBbf:global(.__wab_instance) {
  position: relative;
}
.section__eQoWg {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox___3NXo {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox___3NXo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___3NXo > :global(.__wab_flex-container) > *,
.freeBox___3NXo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3NXo > :global(.__wab_flex-container) > picture > img,
.freeBox___3NXo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3NXo {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3NXo > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3NXo > :global(.__wab_flex-container) > *,
  .freeBox___3NXo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3NXo > :global(.__wab_flex-container) > picture > img,
  .freeBox___3NXo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__erHx {
  flex-direction: column;
  display: flex;
}
.freeBox__erHx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__erHx > :global(.__wab_flex-container) > *,
.freeBox__erHx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__erHx > :global(.__wab_flex-container) > picture > img,
.freeBox__erHx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mo7Tf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__mo7Tf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mo7Tf > :global(.__wab_flex-container) > *,
.freeBox__mo7Tf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mo7Tf > :global(.__wab_flex-container) > picture > img,
.freeBox__mo7Tf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ldk4R {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text___7ArxD {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__iPsRk {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__iPsRk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__iPsRk > :global(.__wab_flex-container) > *,
.freeBox__iPsRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iPsRk > :global(.__wab_flex-container) > picture > img,
.freeBox__iPsRk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iPsRk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iPsRk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iPsRk > :global(.__wab_flex-container) > *,
  .freeBox__iPsRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iPsRk > :global(.__wab_flex-container) > picture > img,
  .freeBox__iPsRk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text___1RjyS {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg___1VyNt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xjQx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__gj8XG {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__lJkbl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__zIJrp {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__lpIG {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__yidtJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__nG4Zn:global(.__wab_instance) {
  position: relative;
}
.svg__uQrv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t1G6D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__nqXxW {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__caL93:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__aeDx {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__dg4S {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__n0VoY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__j9Qa5:global(.__wab_instance) {
  position: relative;
}
.svg__k73Ti {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cqnCu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qf7W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__xRznk:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__xRznk:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__f6Wnm {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__xj3Xc {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___6EMjk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__ikHo:global(.__wab_instance) {
  position: relative;
}
.svg__ejZlR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ceq6H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__m5P83 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__eaxvM {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__y71L7 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button___2IYmf:global(.__wab_instance) {
  position: relative;
}
.svg__ymL {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aSg54 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__lLtWs {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__lLtWs > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__lLtWs > :global(.__wab_flex-container) > *,
.freeBox__lLtWs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lLtWs > :global(.__wab_flex-container) > picture > img,
.freeBox__lLtWs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__lFeEv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aWpm7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yYokt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sytNd {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__hmn2:global(.__wab_instance) {
  position: relative;
}
.productCard__w0Yb:global(.__wab_instance) {
  position: relative;
}
.svg__rrIx5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tEld8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__lalex {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__foIaa {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__ook9B:global(.__wab_instance) {
  position: relative;
}
.productCard__lmxNf:global(.__wab_instance) {
  position: relative;
}
.svg__vql5Y {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d4Ar3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__wxGJd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hspRh {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__dAyQ8:global(.__wab_instance) {
  position: relative;
}
.productCard__m1Vbs:global(.__wab_instance) {
  position: relative;
}
.svg__pKldX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2NNYy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___5JAdx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___3URs4 {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__cGuad:global(.__wab_instance) {
  position: relative;
}
.productCard__m4NLs:global(.__wab_instance) {
  position: relative;
}
.svg___3Hzu3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__taDvy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__reOfq {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fhBU {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating___6Ic70:global(.__wab_instance) {
  position: relative;
}
.productCard__isJ0H:global(.__wab_instance) {
  position: relative;
}
.svg__nGhEz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0UAgt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__tHiIa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rqBl9 {
  width: 100%;
  height: auto;
  text-align: left;
  color: var(--token-IaellkB20-Evui);
  min-width: 0;
}
.rating___1Y3LD:global(.__wab_instance) {
  position: relative;
}
.section__iy7K {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__nNrlG {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__nNrlG > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nNrlG > :global(.__wab_flex-container) > *,
.freeBox__nNrlG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nNrlG > :global(.__wab_flex-container) > picture > img,
.freeBox__nNrlG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__j9R2W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__j5Yzc:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__wDezs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___0L1C6 {
  height: auto;
}
.svg__oWzfq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__byDz:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fabzX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lbBa5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jo5EX:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__oXOi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ovlh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zgut8:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__noCi3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lVblI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__x63Hz:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__efiF {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ciSrc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__evcBt:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__hf3Lz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nSLhp {
  height: auto;
}
.svg__ma3Pq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__iwAgy {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__iwAgy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iwAgy > :global(.__wab_flex-container) > *,
.freeBox__iwAgy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iwAgy > :global(.__wab_flex-container) > picture > img,
.freeBox__iwAgy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iwAgy > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__lvCw6:global(.__wab_instance) {
  position: relative;
}
.svg__amIn3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bhUst {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dkvP {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___8Ozv0 {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating___0Nvdv:global(.__wab_instance) {
  position: relative;
}
.productCard__jo5V:global(.__wab_instance) {
  position: relative;
}
.svg__sdcLi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fR7JO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___5ZyKa {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bjsfT {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__sl38L:global(.__wab_instance) {
  position: relative;
}
.productCard__kLdSo:global(.__wab_instance) {
  position: relative;
}
.svg__tV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h5Jzz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dKqh6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6Le7L {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__rwauM:global(.__wab_instance) {
  position: relative;
}
.productCard__xVy1O:global(.__wab_instance) {
  position: relative;
}
.svg__bb424 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sspcn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___69N0V {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__yX5Qx {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating___7LXYw:global(.__wab_instance) {
  position: relative;
}
.productCard__r7UDu:global(.__wab_instance) {
  position: relative;
}
.svg__xrl1K {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Hzba {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__y1Fno {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sYwLr {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__aglgk:global(.__wab_instance) {
  position: relative;
}
.productCard__qK6Vn:global(.__wab_instance) {
  position: relative;
}
.svg__sg7Ve {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xbAtu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__tSd49 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__euOiv {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__nKnFj:global(.__wab_instance) {
  position: relative;
}
.productCard__i2Ukd:global(.__wab_instance) {
  position: relative;
}
.svg__b9SqX {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bzBl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___3Oflz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1Dsjb {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__poWm6:global(.__wab_instance) {
  position: relative;
}
.productCard__j20Ym:global(.__wab_instance) {
  position: relative;
}
.svg__hjvsB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qsFl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__q2ZH9 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hxPAh {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__jxZLl:global(.__wab_instance) {
  position: relative;
}
.productCard__cvdjt:global(.__wab_instance) {
  position: relative;
}
.svg__zntjp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a7F3Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__v7N2R {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__aaJfg {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating___3DkIj:global(.__wab_instance) {
  position: relative;
}
.productCard__wuqGt:global(.__wab_instance) {
  position: relative;
}
.svg__jyQca {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tfpbq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__byjX8 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__uitWm {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__nnki3:global(.__wab_instance) {
  position: relative;
}
.productCard__y5OcG:global(.__wab_instance) {
  position: relative;
}
.svg__vPhek {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__skh7L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__btdjx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hnSfs {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating___2B9A9:global(.__wab_instance) {
  position: relative;
}
.productCard__nMl3H:global(.__wab_instance) {
  position: relative;
}
.svg__mkjeQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sa3Ma {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ssnAo {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mF6Bz {
  width: 100%;
  height: auto;
  color: var(--token-IaellkB20-Evui);
  text-align: left;
  min-width: 0;
}
.rating__vaGaT:global(.__wab_instance) {
  position: relative;
}
.section__d6Yaz {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__we7Qs:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__flGsl {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__evcd5 {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___4N4T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__ee7M8:global(.__wab_instance) {
  position: relative;
}
.svg__yeCxQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5E1Ch {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__lAidr {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column___8EjG2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__uIFyR:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__uIFyR:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__cOFt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__prn1X {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__kKva4:global(.__wab_instance) {
  position: relative;
}
.svg__sN8Nj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kjv4A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hcXHv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__oaINt:global(.__wab_instance) {
  position: relative;
}
.svg__opkl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6LjN6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__q3Rwd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__dMlpw:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__dMlpw:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___3Nphi {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__gH2H {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__nJfvs:global(.__wab_instance) {
  position: relative;
}
.svg___0FnSt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xssOl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zyv47 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__sAzEd:global(.__wab_instance) {
  position: relative;
}
.svg___9Ft5X {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5QvGy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__h8XmY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___8Ot6R:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___8Ot6R:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__ieLNy {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___5KDn1 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__wfiAy:global(.__wab_instance) {
  position: relative;
}
.svg__osgOw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fkoOa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2WAud {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___8O90:global(.__wab_instance) {
  position: relative;
}
.svg__rtRe5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fp1MD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__zw75O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__aMiRl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__aMiRl:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__msFri {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__e3UmG {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__qHqXw:global(.__wab_instance) {
  position: relative;
}
.svg__kmqMf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cDjH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nz1WN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__kh8Tv:global(.__wab_instance) {
  position: relative;
}
.svg__qqBl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dcQp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
